html {
  background-color: rgb(41, 20, 1);
}

.App {
  margin: 100px auto;
  background-color: rgb(45, 31, 96);
  text-align: center;
  width: 80%;
}

/* .expenseContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} */
